button,
input[type="submit"],
.button {
	outline: none;
	padding: .5em 1em;
	background: #444;
	border: 1px solid #444;
	border-radius: 3px;
	color: white;
	font-size: 1em;
	font-family: 'Andada';
}

button:active,
input[type="submit"]:active,
.button:active {
	background: #222;
}