span[class^="hljs-"]{
	display: inline;
}

.hljs-header {
	color: #BCCCCF;
}

.hljs-link_label {
	color: #BCCCCF;
}

.hljs-link_url {
	color: #BCCCCF;
}

.hljs-code {
	color: #BCCCCF;
}

.hljs-emphasis {
	color: #BCCCCF;
}

.hljs-strong {
  color: #BCCCCF;
}

.preview_content {
	line-height: 30px;	
}

pre, code {
	background: #BCCCCF;
	padding: 5px;
	border-radius: 3px;
}

pre {
	padding: 5px 15px;
}
