@import url('./icons.css');
@import url('./fonts.css');
/*@import url(http://fonts.googleapis.com/css?family=Andada);*/
:root {
	var-white: #efefef;
	var-blue: #aeefc8;
	var-grey: #444 ;
}
@import url('./ui/navigation.css');
@import url('./ui/scrollbar.css');
@import url('./ui/highlight.css');
@import url('./ui/list.css');
@import url('./ui/checkboxs.css');

* {
	box-sizing : border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}

::selection {
    background-color: var(blue);
    color: white;
}

[contenteditable] {
	outline : none;
}

body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Andada', sans;
	color: var(grey) ;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
}

aside {
	width : 80%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: white;
	z-index: 2;
	transform: translate3d( -100%, 0, 0 );
	transition: transform .5s ease-in-out, box-shadow .2s;
	background: white;
	padding : 50px 0;
	box-shadow: 0 0 0px var(white);
}

aside.show {
	transform: translate3d( 0, 0, 0 );
	box-shadow: 0 0 200px var(white);
}

article {
	width: 200%;
	transform: translate3d( 0, 0, 0 );
	transition: transform .5s ease-in-out;
}

article.preview{
	transform: translate3d( -50%, 0, 0 );
}
article.preview #editor {
	max-height:  600px;
}

article.preview .preview_content {
	max-height:  auto;
}

article #editor{
	width: 50%;
	padding: 60px 30px 30px;
	font-size: 18px;
	font-weight: 700;
	z-index: 1;
	float: left;
	max-height: auto;
	white-space: pre;
}

.preview_content {
	width: 50%;
	float: left;
	position: relative;
	padding: 50px 20px;
	background: white;
	z-index: 4;
	max-height: 600px;
}
