button,
input[type="submit"],
.button {
	outline: none;
	padding: .5em 1em;
	background: backgroundColor;
	border: 1px solid backgroundColor;
	border-radius: 3px;
	color: darkGrey;
  font-weight: 700;
	font-size: 1em;
	font-family: 'Andada';
}

button:active,
input[type="submit"]:active,
.button:active {
	background: darken(backgroundColor, 2);
}