span[class^="hljs-"]
	display inline


.hljs-header 
	color accentText


.hljs-link_label 
	color accentText


.hljs-link_url 
	color altAccentText


.hljs-code 
	color altAccentText


.hljs-emphasis 
	color accentText


.hljs-strong 
  color accentText


.preview_content 
	line-height 30px	


pre, code 
	background accentText
	color backgroundColor
	padding 5px
	border-radius 3px


pre 
	padding 5px 15px

