<h4>Files</h4>
<ul class="file-list">
	<li onclick="app.new()" class="add-new">
		New File<i class="icon-cross"></i>
	</li>
	{{#each files}}
		<li data-id="{{id}}">
			{{filename}}<i class="icon-cross"></i>
		</li>
	{{/each}}
	{{#unless file.length}}
		<li class="no-files">No Files Found</li>
	{{/unless}}
</ul>