<h4>Notes</h4>
<ul class="file-list">
	<li onclick="app.new()" class="add-new">
		New Note<i class="icon-plus"></i>
	</li>
	{{#each files}}
		<li data-id="{{id}}" {{#is id ../currentId}}class="current"{{/is}}>
			{{filename}}<i class="icon-cross"></i>
		</li>
	{{/each}}
	{{#unless files.length}}
		<li class="no-files">No Files Found</li>
	{{/unless}}
</ul>
{{#if remote.length}}
  <h4>Remote Notes</h4>
  <ul class="file-list">
    {{#each remote}}
      <li data-id="{{id}}">
			  {{filename}}<i class="icon-arrow-right"></i>
		  </li>
    {{/each}}
  </ul>
{{/if}}
