<div class="user-info">
{{#if name}}
	<img class="user-info-avatar" src="{{avatar_url}}" />
	<div class="user-info-content">
		<h5>
			<a>{{name}}</a>
			<a data-action="changeKey">Change Key</a>
		</h5>
	</div>
{{/if}}
	{{!-- <div class="user-info-update-key" class="{{#unless name}}show{{/unless}}">
		<h6>Github Personal Key</h6>
		<input type="text" class="key" />
		<button>
			{{#if name}}
				Change
			{{else}}
				Add
			{{/if}}
		</button>
	</div> --}}
</div>