<div class="user-info">
{{#if name}}
	<img class="user-info-avatar" src="{{avatar_url}}" />
	<div class="user-info-content">
		<h5>
			<a>{{name}}</a>
			<a data-action="key">Change Key</a>
		</h5>
	</div>
{{/if}}
	<div class="user-info-key {{#unless name}}show{{/unless}}">
		<h4><i class="icon-key"></i> Github Personal Key</h4>
		<input type="text" class="key" />
		<button>Add</button>
	</div>
</div>